@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h2>Os preferidoas da semana</h2> 
<h4>Tá com fome ???</h4>
<br />
<div class="row">
    @foreach (var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>
