@model Lanche

<div class="col-sm-4 col-lg-4 col-md-4">
    <img src="@Model.ImagemUrl" class="card-img-top" />
    <div class="figure-caption">
        <h3>@Model.Preco.ToString("c")</h3>
        <h3>@Model.Nome</h3>
        <p>@Model.DescricaoCurta</p>
    </div>
</div>