@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="CarrinhoCompra">
            <i class="fas fa-shopping-cart"></i>
            <span id="cart-status">
                @Model.CarrinhoCompra.CarrinhoCompraItens.Count
            </span>
        </a>
    </li>
} 