<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão, fale conosco
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            <email endereco="jhonata.galante@gmail.com" conteudo="Enviar Email"></email>
            <br />
            <i class="fas fa-phone"></i>
            (22) 99999-9999

            <i class="fas fa-home"></i>
            Av. Rua Teixeira de Golveia 1000, 27950-360 - Macaé - RJ

        </p>
    </div>
</div>
