<div class="dropdown">
    <button asp-controller="Lanche" asp-action="List" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        Mais Lanches <b class="caret"></b>
    </button>

    <div class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <a class="dropdown-item" asp-controller="Lanche" asp-action="List" asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
        }
        <div class="divider"></div>
        <a class="dropdown-item" asp-controller="Lanche" asp-action="List" asp-route-categoria="">Ver todos os lanches</a>
    </div>

</div>
